.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.calendar-form {
  text-align: center;
  max-width: 100%;
 
}

.calendar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .calendar-title {
    font-size: 2rem;
  }
}

.calendar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.react-calendar {
  width: 100%;
  max-width: 900px;
  background: white;
  border: 2px solid black;
  font-family: "roboto", sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.react-calendar--doubleView {
  flex-wrap: wrap;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  flex-wrap: wrap;
  margin: 0;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
}

.react-calendar__navigation {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  flex: 1 1 auto;
  min-width: 44px;
  padding: 0.5rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.9em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .react-calendar__month-view__weekdays {
    font-size: 1em;
  }
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 5px;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 768px) {
  .react-calendar__tile {
    padding: 20px 10px;
    font-size: 1.2em;
  }
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
