/* Dashboard container styles */
.dashboard-container {
  font-family: 'Arial', sans-serif;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Form container with responsive design */
.dashboard-form {
  width: 100%;
  max-width: 1000px; /* Limit max-width */
  height: 650px;
  padding: 20px;
  border: 2px solid #ccc;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Dashboard title style */
.dashboard-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}
