/* Header general layout styles */
.header-container {
  box-shadow: 4px 6px 15px 2px rgba(81, 255, 0, 0.3); /* Vahvempi varjo */
  outline: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.header-title {
  cursor: pointer;
  color: beige;
  font-size: 36px;
  text-align: left;
  margin-right: 20px; /* Space between title and other elements */
}



.header-title:hover {
  color: gray;
}

.header-date {
  color: white;
  font-size: 16px;
  margin-right: 20px; /* Space between date and user info */
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 30px; /* Adds space between user info elements */
}

.logged-in-text {
  font-size: 1.2rem;
  color: black;
}

.username-highlight {
  color: black; /* Hieman vaaleampi sävy tekstille "Logged in as:" */
}

.username {
  font-weight: bold;
  color: beige;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.7),  /* Paksumpi ja tummempi varjo */
    -2px -2px 4px rgba(0, 0, 0, 0.7), /* Lisää varjoa toiseen suuntaan */
    0px 0px 10px rgba(0, 0, 0, 0.8);  /* Lisää sumeampi ja suurempi varjo */
}





/* Tabletti- ja mobiilikoko */
@media (max-width: 768px) {
  .header-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px; /* Adjust space between title and date/user info */
  }

  .header-date {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .header-container {
    padding: 15px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .header-user-info {
    justify-content: center;
    gap: 15px; /* Reduce space on smaller screens */
    margin-top: 10px;
  }
}

/* Mobiilikoko */
@media (max-width: 480px) {
  .header-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .header-container {
    padding: 10px;
  }

  .header-user-info {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Further reduce space between user info elements */
    margin-top: 10px;
  }

  .logged-in-text {
    
    margin-right: 0;
    margin-bottom: 5px;
  }

  .login-button,
  .logout-button {
    font-size: 10px;
    padding: 4px 8px;
  }
}
