.navigate-container {
    margin-top: 2rem;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1080px;
  }
  
  .navigate-button {
    width: 200px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .navigate-frontpage {
    border: 3px solid #00A86B;
  }
  
  .navigate-information {
    border: 3px solid #00A86B;
  }
  
  .navigate-profile {
    border: 3px solid #d32f2f; /* Dark red for error color */
  }
  
  /* Hover effects */
  .navigate-frontpage:hover {
    background-color: #00A86B;
    color: white;
  }
  
  .navigate-information:hover {
    background-color: blue;
    color: white;
  }
  
  .navigate-profile:hover {
    background-color: #d32f2f; /* Dark red on hover */
    color: white;
  }
  