.profile-container {
  margin-top: 2px;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  width: 1040px;
}

.profile-form {
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.plogout-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover, .logout-button:hover {
  background-color: #45a049;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
