.sidebar {
    width: 240px;
    height: 688px;
    outline: 3px solid black;
    position: absolute;
    left: -242px; /* Hidden initially */
    top: 0;
    background-color: #fff;
    transition: left 0.3s ease-in-out; /* Add transition effect */
    z-index: 1200;
  }
  
  .sidebar.open {
    left: 0; /* When open, move it into view */
  }
  
  .sidebar.closed {
    left: -242px; /* When closed, hide it */
  }
  