body {
  opacity: 0.9;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  background: url("https://img.freepik.com/free-vector/digital-technology-background-vector-with-hexagon-pattern-white-tone_53876-110878.jpg?t=st=1744715895~exp=1744719495~hmac=0a9fed5431e3628333d2b5ae6f4c4452476c6fbc1b8bb71c147c2c61c356fac0&w=996");
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

code {
  font-family: "Roboto", monospace;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  overflow-y: scroll;
}

/* Media queries lisätty responsiivisuutta varten */
@media (max-width: 768px) {
  body {
    background-size: auto; /* Varmistaa, että taustakuva ei veny liikaa pienellä näytöllä */
  }
}

@media (max-width: 480px) {
  body {
    background-size: auto; /* Pienillä näytöillä taustakuva voi olla pienempi */
    padding: 10px; /* Lisää marginaalia pienille näytöille */
  }
}
